:root{
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --blue-text:#155593;
    --menu-text-color:#686868;
    --notifi-color:rgba(238, 130, 224, 0.247);
    --orange-color: #fb5533;
    --yellow-color:#f29536;
    --hover-color:#ededed;
    --blue2-color:#7a9c59;
    --border-color:#ddd;
}
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
*{
    box-sizing: initial;
}
html
{
    font-size:100%;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}
.container-bank__message{
    display: flex;
    color: var(--blue2-color);
    padding: 15px 0;
    align-items: center;
}
.container-bank__noti{
    margin: 0;
}
.container-bank__message-icon{
    margin: 0;
    font-size: 1.2rem;
}
/*làm bảng table*/
.container-bank__table{
    table-layout: auto;
}
.container-bank__table-th,
.container-bank__table-td{
    border: none;
}
.container-bank__table-th{
    text-align: left;
    text-transform: uppercase;
    color: var(--blue-text);
    font-size: 0.9rem;
}
/* .container-bank__table-border{
    display: flex;
    justify-content: right;
} */
.container-bank__table-flex{
    display: flex;
    align-items: center;
    padding: 0 5px;
}
.container-bank__table-icon{
    font-size: 1.2rem;
    color: var(--text-color);
}
.container-bank__link{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.container-bank__link-img{
    width: 80px;
    height: 80px;
    padding-left: 5px;
    padding-right: 5px;
}
.container-bank__link-text{
    
    font-size: 0.9rem;
    color: var(--blue-text);
}
.container-bank__link-text:hover{
    color: var(--yellow-color);
}
.container-bank__table-text{
    font-size: 1rem;
    color: var(--black-color);
    font-weight: 600;
    padding: 0 5px;
}
.container-bank__btn{
    padding: 10px 0 30px 0;
    display: flex;
}
.container-bank__btn-link1{
    text-decoration: none;
    padding: 10px 10px;
    border: 2px solid var(--blue-text);
    border-radius: 3px;
    margin-right: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--blue-text);
    font-size: 0.9rem;
    text-align: center;
}
.container-bank__btn-link2{
    padding: 11px 10px;
    background-color: var(--blue-text);
    text-transform: uppercase;
    cursor: pointer;
    color: var(--white-color);
    border: none;
    border-radius: 3px;
    font-weight: 600;
    font-size: 0.9rem;
}
.container-bank__table-td{
    padding: 0 10px;
}
/*Cộng giở hàng*/
.container-bank__cart-sum{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9rem;
    color: var(--blue-text);
    padding-bottom: 8px;
    border-bottom: 2px solid var(--border-color);
    display: block;
}
.container-bank__cart-flex{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 2px solid var(--border-color);
}
.container-bank__cart-item1{
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--text-color);
}
.container-bank__cart-btn{
    margin-top: 15px;
    width: 100%;
    border-radius: 3px;
}
.container-bank__form-list{
    display: flex;
    flex-direction: column;
    padding: 15px 0 30px 0;
}
.container-bank__lable{
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--border-color);
}
.container-bank__input{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 7px 5px;
    outline: none;
    border: 1px solid var(--border-color);
    border-radius: 3px;
}
.container-bank__submit{
    padding: 8px 5px;
    border: 1px solid var(--border-color);
    background-color: var(--white-color);
    color: rgb(189, 184, 184);
    border-radius: 3px;
}